.App{
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}
h1{
  /* border: 2px solid black; */
  color: rgb(221, 84, 107);
  font-size: 50px;
  text-decoration: underline;
  margin-bottom: 0px;
  margin-top: 0;
}

.search{
  /* border: 1px solid blue; */
  border-radius: 10px;
  overflow: hidden;
}



.input{
  /* margin-right: 20px; */
  font-size: 20px;
  padding: 5px 10px;
  outline: none;
  border: none;
  color: blue;
  background-color: rgb(216, 216, 216);
}
input::placeholder {
  color: rgba(0, 0, 0, 0.526);
  /* color: black; */
  opacity: 1;  /* Ensures the placeholder is fully opaque */
  font-size: 16px;
}
.btn{
  font-size: 20px;
  border: none;
  padding: 5px 10px;
  background-color: cadetblue;
  /* border-radius: 10px; */
  color: white;
  /* font-weight: 600; */
  transition: all ease-in-out 0.5s;
}
.btn:hover{
  color: rgb(242, 242, 242);
  background-color:cornflowerblue;
  /* transform: scale(1.1); */
}